@{
    ViewBag.Title = "Retro";
}
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">Controling</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Online</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-plus"></span> Add new
                        </button>
                    </div>
                    <h4 class="panel-title">Start Doing</h4>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Stop Doing
                        <button type="button" class="btn btn-primary btn-xs pull-right">
                            <span class="glyphicon glyphicon-plus"></span> Add new
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Continious Doing
                        <button type="button" class="btn btn-primary btn-xs pull-right">
                            <span class="glyphicon glyphicon-plus"></span> Add new
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>
